@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 1.5em;
  font-family: 'Cormorant Infant';

}

header {
  @apply bg-gray-900;
}

header a {
  @apply block mt-4 inline-block px-2
}