node_modules
db/all_elections.db
db/sections.db
db/voting_locations_2019.sql
files/parliament2009
files/parliament2013
files/parliament2014
files/parliament2017
files/president_2011_1
files/president_2011_2
files/president_2016
files/european_2009
files/european_2014
files/european_2019
files/mayor_2019
files/voting_locations_2019.csv
.DS_Store
.env
