node_modules
db/all_elections.db
db/all_elections.db.bak
db/sections.db
db/queries.sql
db/dumps
db/mayor_2019.db
db/mayor_2019.db.bak
files/parliament2009
files/parliament2013
files/parliament2014
files/parliament2017
files/president_2011_1
files/president_2011_2
files/president_2016
files/european_2009
files/european_2014
files/european_2019
files/mayor_2011_1
files/mayor_2011_2
files/mayor_2015_1
files/mayor_2015_2
files/mayor_2019
files/voting_locations_2019.csv
files/Sekcii-08.09.2019-KM-0.xlsx
files/section_addresses_2015.xlsx
files/section_addresses_2016.xlsx
files/section_addresses_2017.xlsx
files/section_addresses_2019_spring.xlsx
.DS_Store
.env
server/node_modules
elections/node_modules