db/*.db
db/*.zip
db/queries.sql
files/elections/**/csv*
files/voting_locations_2019.csv
files/Sekcii-08.09.2019-KM-0.xlsx
files/section_addresses_2015.xlsx
files/section_addresses_2016.xlsx
files/section_addresses_2017.xlsx
files/section_addresses_2019_spring.xlsx
.DS_Store
.env
server/node_modules
elections/.cache
elections/node_modules
old_server/node_modules